<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Chef's Corner</title>
    <link id="favicon" rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Local Stylesheet -->
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
<h1>About</h1>



<h2>npm package references</h2>
<ul>
  <li><a href="https://www.npmjs.com/package/bcrypt">
    bcrypt.js
  </a></li>
  <li><a href="https://github.com/fengyuanchen/cropperjs/blob/master/README.md">
    Cropper.js
  </a></li>
  <li><a href="http://mongodb.github.io/node-mongodb-native/3.5/api">
    Node.js MongoDB Driver API
  </a></li>
</ul>

<hr>
<h2>Other references</h2>
<ul>
  <li><a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/">
    Bootstrap 4.5.0 Documentation
  </a></li>
  <li><a href="https://api.jquery.com/">
    JQuery 3.5.1
  </a></li>
  <li><a href="https://ckeditor.com/docs/ckeditor4/latest/">
    CKEditor 4
  </a></li>
</ul>

</body>
</html>