<!DOCTYPE html>
<html>
  <head>
    <title>Home Chef's Circle</title>
    <!--
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <div class="banner">
      <img id="logo" src="/public/img/chef_logo2.jpg">
    </div>
    <div class="hero">
      <!--
<img id="hero-img" src="/public/img/hero_dish1.jpg">
      -->
    </div>
    <div>
      <p>The place for food lovers and home cooks to share and exchange their ideas.</p>
      <button onClick="login()">Login as guest</button>
    </div>
    <div class="register-text"></div>

  <script>
    function login() {
      window.location = "/api/posts";
    }
  </script>
  </body>
</html>