<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Chef's Circle : Login</title>
  <link id="favicon" rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Solway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bentham&display=swap" rel="stylesheet">
  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
    crossorigin="anonymous">

  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="header">
    <a href="/">
      <img id="logo" src="/public/img/chefHat.jpg">
    </a>
    <div id="menu"></div>
  </div>

  <div class="divider"></div>

  <div class="hcc_container">

    <div class="col-center-300">

      <form id="login_form" method="POST">
        <input type="email" id="v_email" name="v_email" placeholder="Email" required>
        <input type="password" id="v_passwd" name="v_passwd" placeholder="Password" required>
        <button class="hcc-btn hcc-btn-fullCol">Login</button>
        <div>No Account Yet? <a href="/api/register">Register</a></div>
        <div>Forgot password? <a href="/api/passwd_reset_req">Send me password reset code</a></div>
      </form>

    </div>

  </div>

  <div class="spacer"></div>
  <div class="footer">
    <div class="footer-item">About</div>
    <div class="footer-item">FAQ</div>
  </div>
  <script>
    $("#login_form").submit(function (event) {
      event.preventDefault();
      var $form = $(this);
      var url = "/api/login";

      /* Send the data using post with element id name and name2*/
      var posting = $.post(url, { v_email: $('#v_email').val(), v_passwd: $('#v_passwd').val() });

      /* Alerts the results */
      posting.done(function (data) {
        var obj = JSON.parse(data);
        if (obj.E) {
          alert(obj.E);
        }
        else {
          window.location.replace(obj.URL);
        }
      });
    });
  </script>
</body>

</html>