<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Chef's Circle : Posts</title>
  <link id="favicon" rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Solway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bentham&display=swap" rel="stylesheet">
  <!-- Bootstrap 
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
  crossorigin="anonymous"> -->
  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="header">
    <a href="/">
      <img id="logo" src="/public/img/chefHat.jpg">
    </a>
    <!-- drop down menu-->
    <div id="menudrop" class="dropdown">
      <img class="avatar" src="/uploads/avatar/{{user.avatar}}">
      <div class="dropdown-content">
        <a href="/api/account">Account</a>
        <a href="/api/newPost">New Post</a>
        <a href="/api/logout">Logout</a>
      </div>
    </div>
  </div>

  <div class="navbar">
    <a href="/api/posts" class="navbar-item">All</a>
    <a href="/api/posts?cat=restaurants" class="navbar-item">Restaurants</a>
    <a href="/api/posts?cat=recipes" class="navbar-item">Recipes</a>
    <a href="/api/posts?cat=deals" class="navbar-item">Deals</a>
    <a href="/api/posts?cat=cookwares" class="navbar-item">Cookwares</a>
    <div class="navbar-search">
      <input type="text" id="search" placeholder="Search all posts...">
    </div>
  </div>


  <div class="hcc_container">
    {% for post in posts %}
    <div class="post">
      <a href="/api/view_post/{{post._id}}">
        <img class="post_image" alt="post_image" style="{{post.object_position_style}}"
          src="/uploads/banner/{{post.banner_img}}">
      </a>
      <div class="col-right">
        <div class="post-row post-title">
          <a href="/api/view_post/{{post._id}}">{{post.title}}</a>
        </div>
        <div class="post-row post-content">
          {{post.plain_text}}
        </div>
        <div class="post-row post-info">
          <div class="post-avatar"><img alt="avatar" src="/uploads/avatar/{{post.avatar}}"></div>
          <div class="post-author">{{post.author}}</div>
          <div class="post-comments-icon"><img alt="comment" src="/public/img/comment-icon.jpg"></div>
          <div class="post-comments-count">{{post.comments.length}}</div>
          <div class="grp-right">
            <div class="post-date">{{post.d_string}} / {{post.category}}</div>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- pagination nav -->
    <div class="grp-right" style="margin: 0px 10px 10px 0px;">
      {% if page.prev > 0 %}
      <button class="hcc-btn hcc-btn-sm"
        onClick="window.location.href='/api/posts?page={{page.prev}}{{page.qString}}'">&lt; prev</button>
      {% else %}
      <button class="hcc-btn-disabled hcc-btn-sm" disabled>&lt; prev</button>
      {% endif %}
      &nbsp;&nbsp;page {{page.current}} of {{page.total}}&nbsp;
      {% if page.next > 0 %}
      <button class="hcc-btn hcc-btn-sm"
        onClick="window.location.href='/api/posts?page={{page.next}}{{page.qString}}'">next &gt;</button>
      {% else %}
      <button class="hcc-btn-disabled hcc-btn-sm" disabled>next &gt;</button>
      {% endif %}
    </div>


    
  </div>
  <div class="img-strip">
    <img id="bot-deco-img" alt="Bottom Decoration Image" src="/public/img/posts/812x250/green_leaves.jpg">
  </div>
  <div class="footer">
    
    <div class="footer-item">About</div>
    <div class="footer-item">FAQ</div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script>
    const search_field = document.getElementById("search");
    search_field.onchange = function () { search_post() };

    function search_post() {
      let url = '/api/posts?search="' + search_field.value + '"';
      window.location = url;
    }
  </script>
</body>

</html>