<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Chef's Circle : Register</title>
  <link id="favicon" rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Solway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bentham&display=swap" rel="stylesheet">
  <!-- Cropper.js -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/cropper.css">
  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="header">
    <a href="/">
      <img id="logo" src="/public/img/chefHat.jpg">
    </a>
    <div id="menu"></div>
  </div>

  <div class="divider"></div>

  <div class="hcc_container">
    
    <div class="col-center-300">
      
        <form method="POST">
          <label class="field_label" for="v_uname">Username</label>
          <input type="text" id="v_uname" name="v_uname" placeholder="John Doe" required>
          <label class="field_label" for="v_email">Email</label>
          <input type="email" id="v_email" name="v_email" placeholder="john_doe@abc.com" required>
          <label class="field_label" for="v_passwd">Password</label>
          <input type="password" id="v_passwd" name="v_passwd" required>
          <label class="field_label" for="v_passwd2">Re-Enter Password</label>
          <input type="password" id="v_passwd2" name="v_passwd2" required>
          
          <button class="hcc-btn hcc-btn-fullCol">Register</button>
        </form>
      
    </div>
    
  </div>

  <div class="spacer"></div>
  <div class="footer">
    <div class="footer-item">About</div>
    <div class="footer-item">FAQ</div>
  </div>
<script>
  // TODO: need to implement level 1 form field validation 
  // 1. v_passwd == v_passwd2 ?
  // 

</script>
</body>

</html>