<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Chef's Circle : Posts</title>
  <link id="favicon" rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Solway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bentham&display=swap" rel="stylesheet">
  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="header">
    <a href="/">
      <img id="logo" src="/public/img/chefHat.jpg">
    </a>
    <div id="menu"></div>
  </div>

  <div class="navbar">
    <div class="navbar-item">Restaurants</div>
    <div class="navbar-item">Recipes</div>
    <div class="navbar-item">Deals</div>
    <div class="navbar-item">Cookwares</div>
    <div class="navbar-search">
      Search current post
    </div>
  </div>

  <div class="img-strip">
    <img id="bot-deco-img" alt="Bottom Decoration Image" src="/public/img/posts/812x250/green_leaves.jpg">
  </div>

  <div class="container">
    <div class="post-title">
      Super Easy Homemade Churros
    </div>

    <div class="row">
      <div class="post-avatar"><img alt="avatar" src="/public/img/avatar100x100.jpg"></div>
      <div class="post-author">Tommy Clark</div>
      <div class="grp-right">
        <div class="post-date">December 25, 2020</div>
      </div>

    </div>

    <div class="post-data"> These Mexican fritters are very common at fairs.
      In my border hometown, the line at this stand is always overwhelming.
      People wait hours in line just to get a taste of these churros.
      I have run across several recipes but this is the best one by far.
      <div><img src="/public/img/posts/200x200/salad.jpg"></div>
      These Mexican fritters are very common at fairs.
      In my border hometown, the line at this stand is always overwhelming.
      People wait hours in line just to get a taste of these churros.
      I have run across several recipes but this is the best one by far.
    </div>

    <div class="row">
      <button class="btn-small">Like</button> 300 people like this
      <div class="grp-right">
        <button class="btn-small">Edit Post</button>
        <button class="btn-small">Delete Post</button>
      </div>
    </div>

    <div class="spacer"></div>

    <div class="form-container">
      <h2>Leave a comment</h2>
      <form id="pform">
        <textarea name="new-post">
          </textarea>
        <button class="btn-shadow">Submit</button>
      </form>
    </div>

    <div class="spacer"></div>
    <div class="divider"></div>

    <div class="post-data">
      <h2>Comments</h2>

      <div class="comment-wrapper">
        <div class="row">
          <div class="post-avatar"><img alt="avatar" src="/public/img/avatar100x100.jpg"></div>
          <div class="post-author">Tommy Clark</div>
          <div class="grp-right">
            <div class="post-date">December 25, 2020</div>
          </div>
        </div>
        <div class="comments">
          some comments here.
        </div>
      </div>

      <div class="comment-wrapper">
        <div class="row">
          <div class="post-avatar"><img alt="avatar" src="/public/img/avatar100x100.jpg"></div>
          <div class="post-author">Tommy Clark</div>
          <div class="grp-right">
            <div class="post-date">December 25, 2020</div>
          </div>
        </div>
        <div class="comments">
          some comments here.
        </div>
      </div>

    </div>

  </div>

  <div class="footer">
    <div class="footer-item">About</div>
    <div class="footer-item">FAQ</div>
  </div>

  <script>

  </script>
</body>

</html>