<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Chef's Circle : Posts</title>
  <link id="favicon" rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Solway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bentham&display=swap" rel="stylesheet">

  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="header">
    <a href="/">
      <img id="logo" src="/public/img/chefHat.jpg">
    </a>
    <!-- drop down menu-->
    <div id="menudrop" class="dropdown">
      <img id="avatar_s" class="avatar" src="/uploads/avatar/{{author.avatar}}">
      <div class="dropdown-content">
        <a href="/api/account">Account</a>
        <a href="/api/posts">Posts</a>
        <a href="/api/logout">Logout</a>
      </div>
    </div>
  </div>

  <div class="navbar">
    <div class="navbar-item">Restaurants</div>
    <div class="navbar-item">Recipes</div>
    <div class="navbar-item">Deals</div>
    <div class="navbar-item">Cookwares</div>
  </div>

  <div class="img-strip">
    <!-- default banner
      <img id="bot-deco-img" alt="Bottom Decoration Image" src="/public/img/posts/812x250/green_leaves.jpg">
    -->
    <img id="bot-deco-img" alt="Bottom Decoration Image" src="/uploads/banner/{{post.banner_img}}">
  </div>

  <div class="hcc_container">
    <div class="post-title">
      {{post.title}}
    </div>

    <div class="row">
      <div class="post-avatar"><img alt="avatar" src="/uploads/avatar/{{author.avatar}}"></div>
      <div class="post-author">{{author.username}}</div>

      <div class="grp-right">
        <div class="post-date">{{post.d_string}}</div>
        <div class="post-category">/ {{post.category}}</div>

      </div>
    </div>

    <div class="post-data">{{post.content | safe }}</div>

    <div class="row">
      {% if not post.isOwner %}
      <button class="btn-small">Like</button>
      {% endif %}
      300 people like this
      {% if post.isOwner %}
      <div class="grp-right">
        <button class="btn-small" onClick="editPost()">Edit Post</button>
        <button class="btn-small" onClick="delPostModal()">Delete Post</button>
      </div>
      {% endif %}
    </div>

    <!-- Delete Modal -->
    {% if post.isOwner %}
    <div id="delModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-close">&times;</span>
          <h2>Confirm Delete</h2>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the post titled <strong>{{post.title}}</strong> ?</p>
        </div>
        <div class="modal-footer">
          <form id="delForm" method="POST" action="/api/delPost">
            <input name="post_id" type="hidden" value={{post._id}}>
            <button class="btn-small" onClick="delPost()">Confirm</button>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- End Delete Modal -->

    <div class="spacer"></div>

    <div class="form-container">
      <h2>Leave a comment</h2>
      <form id="pform">
        <input id="post_id" type="hidden" value={{post._id}}>
        <textarea name="new-comment">
          </textarea>
        <button class="btn-shadow">Submit</button>
      </form>
    </div>

    <div class="spacer"></div>
    <div class="divider"></div>

    <div class="post-data">
      <h2>Comments</h2>

      <div class="comment-wrapper">
        <div class="row">
          <div class="post-avatar"><img alt="avatar" src="/public/img/avatar100x100.jpg"></div>
          <div class="post-author">Tommy Clark</div>
          <div class="grp-right">
            <div class="post-date">December 25, 2020</div>
          </div>
        </div>
        <div class="comments">
          some comments here.
        </div>
      </div>

      <div class="comment-wrapper">
        <div class="row">
          <div class="post-avatar"><img alt="avatar" src="/public/img/avatar100x100.jpg"></div>
          <div class="post-author">Tommy Clark</div>
          <div class="grp-right">
            <div class="post-date">December 25, 2020</div>
          </div>
        </div>
        <div class="comments">
          some comments here.
        </div>
      </div>

    </div>

  </div>

  <div class="footer">
    <div class="footer-item">About</div>
    <div class="footer-item">FAQ</div>
  </div>

  <script>
    const post_id = document.getElementById('post_id').value;
    function editPost() {
      let url = '/api/editPost/' + post_id;
      window.location = url;
    }

    // Model visual control
    // Get the modal
    var modal = document.getElementById("delModal");

    // Get the <span> element that closes the modal
    var modal_close_icon = document.getElementsByClassName("modal-close")[0];

    // When the user clicks the button, open the modal 
    function delPostModal() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    modal_close_icon.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close the modal
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</body>

</html>