
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

.header {
  /* border: 1px solid black; */
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}
#logo {
  max-height: 80px;
}

#menudrop {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-right: 0px;
  background-color: #BBBBBB;
  border-radius: 8px;
  float: right;
  position: relative;
}
.avatar {
  max-width:100%;
  height: auto;
  border-radius: 8px;
}
.avatar:hover {
  cursor: pointer;
  border: 1px solid #BBBBBB;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: -4px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

#menudrop:hover .dropdown-content {
  display: block;
}

.hero {
  height: 300px;
  width: 100%;
  background-image: url("/public/img/hero_dish1.jpg");
  visibility: visible;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.text-intro {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #777777;
  text-align: center;
  padding: 20px;
}

.btn-shadow {
  color: #519FE7;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 5px 20px;
  box-shadow: 5px 5px 5px darkgray;
}

.btn-small {
  color: #519FE7;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 2px 4px;
  box-shadow: 3px 3px 3px darkgray;
}

.btn-wide {
  padding: 5px 50px;
  font-size: 1.5em;
}

.btn-fullCol {
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #F0F0F0;
  padding: 5px;
  text-align: center;
}

.fullCol {
  width: 100%;
  padding: 10px 10px;
  font-size: 1.4em;
}

.category-row {
  width: 850px;
  margin: 20px auto;
  padding: 5px;
  overflow: auto;
  
}
@media only screen and (max-width: 868px) {
  .category-row {
    width: 430px;
  }
}
@media only screen and (max-width: 600px) {
  .category-row {
    width: 220px;
  }
}

div.category {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
}

div.category:hover {
  border: 1px solid #777;
  background-color: rgb(221, 218, 170);
}

div.category img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.navbar {
  width: 100%;
  overflow: auto;
  background-color: #4BA5A5;
  font-family: 'Roboto', sans-serif;
  color: #EEEEEE;
}

.navbar-item {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
  color: #EEEEEE;
  margin: 10px 0px 10px 20px;
  float: left;
}
.navbar-item:hover {
  color: #BBBBBB;
  cursor: pointer;
}

.navbar-search {
  margin: 10px 20px 10px 0px;
  padding: 5px 10px;
  border: 1px solid #E5E5E5;
  background-color: #D5D5D5;
  min-width: 150px;
  border-radius: 5px;
  float: right;
}

.footer {
  width: 100%;
  overflow: auto;
  background-color: #4BA5A5;
}

.footer-item {
  font-family: 'Roboto', sans-serif;
  color: #EEEEEE;
  margin: 15px 20px 15px 0px;
  float: right;
  width: 50px;
}
.footer-item:hover {
  color: #BBBBBB;
  cursor: pointer;
}



/* section: post-container */
.container {
  width: 812px;
  margin: 20px auto;
  overflow: auto;
}
.container h2 {
  text-align: center;
}
.post {
  height: 170px;
  
  padding: 10px;
  border: 1px solid #B4B4B4;
  border-radius: 10px;
}
.post_image{
  width: 150px;
  height: 100%;
  float: left;
  cursor: pointer;
}

.col-right {
  width: 630px;
  height: 100%;
  margin-left: 10px;
  float: left;
  position: relative;
}

/* two column design for account.html */
.col-left {
  width: 250px;
  float: left;
  min-height: 1px;
}
.col-center {
  width: 300px; 
  float: left;
}

.col-center-300 {
  margin: 0px auto;
  width: 300px; 
}

#profilePic {
  width: 150px;
  height: 150px;
  margin: 0px auto;
  background-color: lightslategray;
}
#profilePic:hover {
  cursor: pointer;
 }



.post-title {
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
}
.post-content {
  margin-top: 5px;
  font-size: 0.9em;
  height: 55px;
  line-height: 1.4em;
  font-family: sans-serif;
  font-style: italic;
}
.post-info {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;
}
.post-info div {
  line-height: 25px;
}
.post-avatar{
  float: left;
  width: 25px;
  height: 25px;
}
.post-avatar img {
  width: 100%;
  height: auto;
}
.post-author {
  float: left;
  margin-left: 5px;
  font-family: 'Shadows Into Light', cursive;
}
.post-stat {
  overflow: auto;
  float: left;
}
.post-date {
  line-height: 25px;
  float: left;
  margin-right: 10px;
  font-family: 'Bentham', serif;
}
.post-comments-icon{
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 2px;
}
.post-comments-icon img{
  width: 100%;
  height: auto;
}
.post-comments-count {
  float: left;
  margin-right: 10px;
  font-family: 'Bentham', serif;
}

/* section: post-form */
.form-container {
  width: 812px;
  overflow: auto;
  margin: 0px auto;
  padding: 5px 20px 15px 20px;
  background-color: #E8E8E8;
  border-radius: 10px;
}
.form-container h2{
  margin-top: 2px;
  margin-bottom: 5px;
}

#pform button{
  float: right;
  margin-right: 10px;
}



.row {
  overflow: auto;
  padding: 5px 10px;
}
.grp-right {
  float: right;
}

.post-data {
  padding: 15px;
  background-color: #F4F4F4;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  margin-top: 5px;
}
.comments {
  margin: 10px;
}

.spacer {
  min-height: 20px;
}
.divider {
  height:2px;
  border: 1px solid #4BA5A5;
  background-color: #4BA5A5;
  margin-top: 0px;
  margin-bottom: 10px;
}

.comment-wrapper {
  padding: 10px;
  margin: 5px;
  background-color: #FAFAFA;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
}

.img-strip {
  width: 812px;
  height: 200px;
  overflow: hidden;
  margin: 4px auto 4px auto;
  position: relative;
}
.overlay-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gray;
}

input, textarea, .form-row {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #FCFCFC;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} 

.field_label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
}
.cb_label {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

/* Cropper.js */
.label {
  cursor: pointer;
}

.progress {
  display: none;
  margin-bottom: 1rem;
}

.alert {
  display: none;
}

.img-container img {
  max-width: 100%;
}